@charset "UTF-8";

body {
    display: flex;
}

header {
    background-color: rgb(232, 231, 231);
    height: 100vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
}

main {
    width: 67%;
    background-color: rgb(249, 245, 245);
}

h1 {
    padding-top: 1rem;
    letter-spacing: 0.8rem;
    text-align: center;
    color: rgb(99, 157, 243);
}

section {
  margin-bottom: 6rem;
}

.user-section {
  margin-bottom: 0;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-name-text-top {
    font-size: x-large;
    letter-spacing: 0.3rem;
    justify-content: end;
    margin-bottom: 0;
}

.user-name-text-bottom {
    font-size: x-large;
    letter-spacing: 0.8rem;
    font-weight: bold;
    margin-top: 0rem;
}

.sns-icon-container {
    display: flex;
    justify-content: center;
}

.sns-icon-discord {
    padding: 0 3rem;
}

.sns-icon-instagram {
    padding: 0 3rem;
}

.user-sns-container {
  max-width: max-content;
  margin: auto;
  margin-top: 2rem;
}

.user-sns-email-container {
    display: flex;
    justify-content: start;
}
.user-sns-email-icon-container {
    display: flex;
    justify-content: center;
    padding-right: 1rem;
}

.user-sns-discord-container {
    display: flex;
    justify-content: start;
}

.user-sns-discord-icon-container {
    display: flex;
    justify-content: center;
    padding-right: 1rem;

}

.user-sns-instagram-container {
    display: flex;
    justify-content: start;
}

.user-sns-instagram-icon-container {
    display: flex;
    justify-content: center;
    padding-right: 1rem;
}

.main-content {
    max-width: max-content;
    margin: auto;
}

.fav-character-title-container {
    display: flex;
    justify-content: start;
}


.fav-character-title {
  padding-left: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.fav-character-container {
    display: flex;
    justify-content: space-between;
}

.fav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fav-icon-container {
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
}

.fav-text-container {
    display: flex;
}

.fav-text {
    font-size: 1rem;
    font-weight: bold;
}

.character-title-container {
    display: flex;
}

.character-mbti-text {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.character-arrow-icon-container {
  display: flex;
  justify-content: center;
}

.character-infp-container {
  position: relative;
}

.character-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.infp-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.future-experience-text-list {
  padding: 0;
}

.future-experience-container {
  display: flex;
}

.future-experience-title-container {
  display: flex;
}

.future-experience-icon-container {
  display: flex;
  align-items: center;
}

.future-experience-title {
  padding-left: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.future-experience-text-container {
  list-style: none;
  display: flex;
}

.future-experience-date {
  margin-right: 5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.experience-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.future-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(99, 157, 243);
}

.future-experience-graph-icon-container {
  display: flex;
  align-items: end;
}

.interest-title-container {
  display: flex;
}

.interest-title {
  padding-left: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.interest-lang-container {
  display: flex;
  justify-content: space-between;
}

.interest-content {
  padding: 0;
}

.interest-lang-container {
  list-style: none;
}

.interest-lang-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.my-product-main-container {
  display: flex;
  justify-content: space-between;
}

.my-product-title-container {
  display: flex;
}

.my-product-title {
  padding-left: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.my-product-container {
  display: flex;
  justify-content: space-between;
}

.my-product-main-content {
  display: flex;
}

.my-product-text-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 4rem;
}

.my-product-text-container {
  display: flex;
}

.arrow-icon-container {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}


.my-product-text-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.my-product-details-container {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.my-product-app-name-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(99, 157, 243);
}

.my-product-text {
  font-size: 1.2rem;
  font-weight: bold;
}


.my-product-movie-container {
  display: flex;
  align-items: end;
}

.click-container {
  display: flex;
  align-items: center;
}

.click-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.click-icon {
  display: flex;
}

.decision-title-container {
  display: flex;
}

.decision-title {
  padding-left: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.decision-main-title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: rgb(99, 157, 243);
}

.decision-main-container {
  display: flex;
}

.decision-main-text {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

/* メディアクエリ用 */
@media screen and (max-width:768px) {

  body {
    display: block;
}

  header {
    display: none;
  }

  main {
    width: 100%;
    background-color: rgb(249, 245, 245);
    margin: auto;
}
}