@charset "UTF-8";

body {
    display: block;
    flex-direction: column;
    justify-content: end;
    height: 906px;
}

nav {
    height: 6rem;
}

.user-section {
    padding: 11rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(239, 238, 237);
}

.user-img-container {
    display: flex;
    justify-content: center;
}

.user-name-text-top {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin-bottom: 0;
}

.user-name-text-bottom {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 0.6rem;
    font-weight: bold;
    margin-top: 0;
}

.user-sns-email-container {
    display: flex;
}

.user-sns-email-icon-container {
    display: flex;
    justify-content: center;
    padding-right: 1rem;
}

.user-sns-discord-container {
    display: flex;
    justify-content: center;
}

.user-sns-discord-icon-container {
    display: flex;
    justify-content: center;
    padding-right: 1rem;
}

.user-sns-instagram-container {
    display: flex;
    justify-content: center;
}

.user-sns-instagram-icon-container {
    display: flex;
    justify-content: center;
    padding-right: 1rem;
}

.icon-link-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(217, 217, 217);
}